<header>
    <form class="form-inline">
        <input type="text" id="arama" name="arama" placeholder="İl, İlçe, Mahalle" width="500" height="10" />
        <button type="button" id="araButon" class="btn btn-success">Ara</button>
    </form>
</header>