
<div class="container">
    <div class="row">
        <h5>En Yeni İlanlar</h5>
    </div>
</div>

<div id="EnYeniilanlarFoto" class="container">
    <div class="row">
        <div class="col">
            <div class="container">
                <a target="_blank" href="~/Emlak/EmlakDetay3">
                    <img src="~/CSS/lüksev.jpg" width="150" height="100">
                </a>
                <div class="text-block">
                    <h6>İstanbul</h6>
                    <p>120.000'den fazla ilan.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <a target="_blank" href="~/Emlak/EmlakDetay5">
                    <img src="~/CSS/sonbaharev.jpg" width="150" height="100">
                </a>
                <div class="text-block">
                    <h6>İzmir</h6>
                    <p>40.000'den fazla ilan.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <a target="_blank" href="~/Emlak/EmlakDetay6">
                    <img src="~/CSS/tasev.jpg" width="150" height="100">
                </a>
                <div class="text-block">
                    <h6>Ankara</h6>
                    <p>60.000'den fazla ilan.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <a target="_blank" href="~/Emlak/EmlakDetay4">
                    <img src="~/CSS/sariev.jpg" width="150" height="100">
                </a>
                <div class="text-block">
                    <h6>Antalya</h6>
                    <p>40.000'den fazla ilan.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <a target="_blank" href="~/Emlak/EmlakDetay1">
                    <img src="~/CSS/bungalovev.jpg" width="150" height="100" />
                </a>
                <div class="text-block">
                    <h6>Kocaeli</h6>
                    <p>30.000'den fazla ilan.</p>
                </div>
            </div>
        </div>
    </div>
</div>         