
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h5>Öne Çıkan İlanlar</h5>
        </div>
        <div id="OneCikanButon" class="col-md-3">
            <a href="~/Emlak/EmlaklarListe"><button class="bg-secondary text-light">Tüm Öne Çıkan İlanlar</button></a>
        </div>
    </div>
</div>

<div id="OneCikanEvlerFoto" class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay2">
                    <img src="~/CSS/cimenlikev.jpg" alt="Yeşil Ev" width="260" height="175" />
                </a>
                <div class="desc">Ertuğrul Gazi Mah. Mutlu Sokak No:22</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay8">
                    <img src="~/CSS/yesilev.jpg" alt="Yeşil Ev" width="260" height="175" />
                </a>
                <div class="desc">Edebali Mah. Güzel Sokak No:36</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay7">
                    <img src="~/CSS/villa.jpg" alt="Yeşil Ev" width="260" height="175" />
                </a>
                <div class="desc">Bahçelievler Mah. Yukarı Sokak No:38</div>
            </div>
        </div>
    </div>
</div>