<div id="altBaslik" class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <h5>Bilecik Emlak</h5>
            <h6>Hakkımızda</h6>
            <h6>Ödüllerimiz</h6>
            <h6>Kurumsal Materyaller</h6>
            <h6>Reklam</h6>
            <h6>İnsan Kaynakları</h6>
            <h6>Site Haritası</h6>
        </div>
        <div class="col-md-3 text-center">
            <h5>Hizmetlerimiz</h5>
            <h6>Size Özel Hizmetlerimiz</h6>
            <h6>Emlak Haberleri</h6>
            <h6>Kurumsal Üyelik</h6>
            <h6>Projeler</h6>
            <h6>Ücretsiz İlan Ver</h6>
        </div>
        <div class="col-md-3 text-center">
            <h5>Diğer</h5>
            <h6>İlan Yayınlama Kuralları</h6>
            <h6>Kullanım Koşulları</h6>
            <h6>Üyelik Sözleşmesi ve Gizlilik Politikası</h6>
            <h6>İşlem Rehberi</h6>
            <h6>Çerez Politikası</h6>
            <h6>Kişisel Verilerin Korunması Hakkında</h6>
            <h6>Açık Rıza Metni</h6>
        </div>
        <div class="col-md-3 text-center">
            <h5>İletişim</h5>
            <div class="container">
                <div class="row-cols bg-secondary text-center text-light">
                    <h5>0228 214 1111</h5>
                </div>
            </div>           
            <div class="container">
                <div class="row-cols bg-secondary text-center text-light">
                    <h5>Mesaj Gönder</h5>
                </div>
            </div>
            <div class="container">
                <div class="row-cols bg-secondary text-center text-light">
                    <h5>Harita</h5>
                </div>
            </div>   
        </div>
    </div>
</div>