
<div id="baslikDiv" class="container">
    <div class="row">
        <a href="~/Emlak/Anasayfa"><h6><b>Bilecik</b></h6></a>
        <div class="col text text-secondary">
            <b>Kurumsal Üyelik</b>
        </div>
        <div class="col text text-secondary">
            <b>Haberler</b>
        </div>
        <div class="col text text-secondary">
            <b>Projeler</b>
        </div>
        <button type="button" class="btn btn-secondary"><icon class="icon-user"></icon>Giriş Yap</button>
        <button type="button" class="btn btn-success">Ücretsiz İlan Ver</button>
    </div>
    <div class="row">
        <a href="~/Emlak/Anasayfa"><h6><b>EMLAK</b></h6></a>
    </div>
</div>
