@model samet_turgut.Models.EmlakBilgi

@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay2">
                    <img src="~/CSS/cimenlikev.jpg" alt="cimenlikev" width="260" height="175" />
                </a>
                <div class="desc">Ertuğrul Gazi Mah. Mutlu Sokak No:22</div>
            </div>
        </div>
        <div class="col">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay10">
                    <img src="~/CSS/apartman.jpg" alt="apartman" width="260" height="175" />
                </a>
                <div class="desc">Edebali Mah. Güzel Sokak No:36</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay1">
                    <img src="~/CSS/bungalovev.jpg" alt="bungalov" width="260" height="175" />
                </a>
                <div class="desc">Bahçelievler Mah. Yukarı Sokak No:38</div>
            </div>
        </div>
        <div class="col">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay3">
                    <img src="~/CSS/lüksev.jpg" alt="lüks" width="260" height="175" />
                </a>
                <div class="desc">Ertuğrul Gazi Mah. Mutlu Sokak No:22</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay9">
                    <img src="~/CSS/normalev.jpg" alt="normal ev" width="260" height="175" />
                </a>
                <div class="desc">Edebali Mah. Güzel Sokak No:36</div>
            </div>
        </div>
        <div class="col">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay4">
                    <img src="~/CSS/sariev.jpg" alt="sari ev" width="260" height="175" />
                </a>
                <div class="desc">Bahçelievler Mah. Yukarı Sokak No:38</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay5">
                    <img src="~/CSS/sonbaharev.jpg" alt="sonbahar ev" width="260" height="175" />
                </a>
                <div class="desc">Ertuğrul Gazi Mah. Mutlu Sokak No:22</div>
            </div>
        </div>
        <div class="col">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay6">
                    <img src="~/CSS/tasev.jpg" alt="tas ev" width="260" height="175" />
                </a>
                <div class="desc">Edebali Mah. Güzel Sokak No:36</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay7">
                    <img src="~/CSS/villa.jpg" alt="villa" width="260" height="175" />
                </a>
                <div class="desc">Bahçelievler Mah. Yukarı Sokak No:38</div>
            </div>
        </div>
        <div class="col">
            <div class="gallery">
                <a target="_blank" href="~/Emlak/EmlakDetay8">
                    <img src="~/CSS/yesilev.jpg" alt="Yeşil Ev" width="260" height="175" />
                </a>
                <div class="desc">Ertuğrul Gazi Mah. Mutlu Sokak No:22</div>
            </div>
        </div>
    </div>
</div>
